<!DOCTYPE html>
<html>
<head>
  <title>RSA - DM Project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<style>
  .btn {
    background-color: hotpink;
  }
</style>
<div class="container">
  <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>RSA - Keys</h2></div>
    <div class="panel-body">
      <div class="col-lg-2">
        <br/>
        <button style="margin-left: 30px" class="btn btn-primary" onclick="save()">Save Keys</button>
        <br/><br/>
        <button style="margin-left: 30px" class="btn btn-primary" onclick="load()">Load Keys</button>
        <br/>
        <br/>
        <label class="form-label" for="nvalue" style="margin-left: 30%">N: (p*q)</label>
        <input type="tel" id="nvalue" class="form-control" />
        <br/>

        <button class="btn btn-primary" onclick="generate()">Generate New Keys</button>
      </div>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-6">
            <label for="privkey">Private Key</label><br/>
            <small>
              <textarea id="privkey" rows="10" style="width:100%"></textarea>
            </small>
          </div>
          <div class="col-lg-6">
            <label for="pubkey">Public Key</label><br/>
            <small><textarea id="pubkey" rows="10" style="width:100%" ></textarea></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>RSA - Encrypt / Decrypt</h3></div>
    <div class="panel-body">
      <div class="col-lg-5">
        <label for="decrypted">Text to encrypt:</label><br/>
        <textarea id="decrypted" name="decrypted" style="width: 100%" rows="8">Hello</textarea>
      </div>
      <div class="col-lg-2">
        <label>&nbsp;</label><br/>
        <button id="execute" class="btn btn-primary" style="margin-top: 40px" onclick="encryptdecrypt()">Encrypt / Decrypt</button>
      </div>
      <div class="col-lg-5">
        <label for="encrypted">Encrypted:</label><br/>
        <textarea id="encrypted" name="encrypted" style="width: 100%" rows="8"></textarea>
      </div>
    </div>
  </div>
</div>

<script type=text/javascript>
  function generate()
  {
    $.get('/generate/8', function(data)
    {
      items = data.split(',')
      $("#pubkey").val(items[0])
      $("#privkey").val(items[1])
      $("#nvalue").val(items[2])
      alert(`Generated and inserted the following to their respective fields:\n\nPublic Key: ${items[0]}\nPrivate Key: ${items[1]}\nN: ${items[2]}`)
    });
  }

  function save() {
    localStorage.setItem("nval", $("#nvalue").val());
    localStorage.setItem("pubkey", $("#pubkey").val());
    localStorage.setItem("privkey", $("#privkey").val());

    alert(`Saved!`)
  }

  function isEmpty(item) {
    if (item == null || item.length < 1) return true

      return false
  }
  
  function load() {
    $("#nvalue").val(localStorage.getItem("nval"));
    $("#pubkey").val(localStorage.getItem("pubkey"));
    $("#privkey").val(localStorage.getItem("privkey"));

    if(isEmpty($("#pubkey").val()) || isEmpty($("#pubkey").val()) || isEmpty($("#nvalue").val()))
    {
      alert("No keys saved!")
    }
    else
    {
      alert(`Loaded!`)
    }
  }

  function encryptdecrypt()
  {
    if($("#decrypted").val().length > 0)
    {
      msg = $("#decrypted").val()
      pubkey = $("#pubkey").val()
      n = $("#nvalue").val()

      if(pubkey.length < 1 || n.length < 1 || msg.length < 1)
      {
        alert("Required: Public Key, N and Message")
        return
      }
      
      $.get(`/encrypt/${pubkey}/${n}/${encodeURIComponent(msg)}`, function(data)
      {
        $("#decrypted").val('')
        $('#encrypted').val(data);
      });
    }
    else
    {
      crypted = $("#encrypted").val()
      privkey = $("#privkey").val()
      n = $("#nvalue").val()

      if(privkey.length < 1 || n.length < 1 || crypted.length < 1)
      {
        alert("Required: Private Key, N and Cipher")
        return
      }
      
      $.get(`/decrypt/${privkey}/${n}/${encodeURIComponent(crypted)}`, function(data)
      {
        $('#decrypted').val(data);
        $("#encrypted").val('')
      });
    }
  }
</script>

</div>
</body>
</html>